

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
.ima{
  display: grid;
  place-items: center;

}
*/




#IniPrincipal{
  text-align: center;
}
#mainmedia{
  display:flex;
  justify-content: center;
  width:100%;
  height:100%;
}

.texto{
  font-size: 14px;
  font-weight: bold;

}
.tamTable{
  font-size: 20px;

}

.tamano{
  
     height: 60px;
     border-bottom:20px solid;
}



.imglist{

  display:flex;
  justify-content: center;

}

.header1Prod{

  display:flex;
  justify-content: left;
  margin: 20px auto 0 50px;
}
.headerProd{

  display:flex;
  justify-content: left;
  margin: auto auto 0 50px;
}
.total{
  display:flex;
  justify-content: center;
}